<ion-header>
  <ion-toolbar>
    <!--slot emplacement du menu Start pour gauche (comme avec les flexbox)-->
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Animaux
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-fab-button (click)="openFormModal()" size="small" slot="end">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-item *ngFor="let item of animals">
      <ion-label>{{ item.title }}</ion-label> <ion-note> {{ item.class }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>