<ion-header>
  <ion-buttons>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Animaux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
    <ion-fab-button (click)="openFormModal()" size="small" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      <ion-fab-button (click)="deleteAll()" size="small" slot="end">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    </ion-item>
    <ion-item *ngFor="let item of items" [routerLink]="['/details/' + item.name]">
      <ion-icon [src]="item.icon" slot="start"></ion-icon>
      {{item.printName}}
      <ion-note>{{item.class}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
